.anchor-card-content {
  display: flex;
}
.anchor-card-content .anchor-card-left {
  position: sticky;
  top: 0;
  width: 200px;
  border: 1px solid var(--color-fill-3);
  height: fit-content;
}
.anchor-card-content .anchor-card-left-nav {
  height: 42px;
  background-color: var(--color-menu-light-bg);
  color: var(--color-neutral-10);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
.anchor-card-content .anchor-card-left .active {
  color: rgb(var(--primary-6));
}
.anchor-card-content .anchor-card-right {
  overflow-x: auto;
  flex: 1 1 auto;
  margin-left: 24px;
  color: var(--color-neutral-10);
}
.anchor-card-content .anchor-card-right::-webkit-scrollbar {
  display: none;
}
.anchor-card-content .anchor-card-right > .arco-card {
  margin-bottom: 12px;
}
