.core-form-table {
  margin-bottom: 16px;
  padding: 0 16px;
  padding-bottom: 16px;
  background-color: var(--color-menu-light-bg);
}

.core-form-table .arco-table-td {
  padding: 0 16px;
  height: 40px;
}

.arco-table-header {
  overflow-x: auto;
}

.core-form-table a {
  color: rgb(var(--primary-6));
  cursor: pointer;
}

.core-form-table .arco-typography-operation-copy {
  color: rgb(var(--primary-6));
  cursor: pointer;
}

.core-form-table .arco-table-pagination {
  margin: 0 !important;
  height: fit-content;
  max-height: 42px;
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.core-form-table .td-row-operation-area .arco-table-cell-wrap-value {
  position: relative;
  left: -8px;
}

.core-form-table .td-row-operation-area .arco-btn {
  padding: 0 6px;
}

.core-form-table .react-resizable {
  position: relative;
}

.core-form-table .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-position: bottom right;
  padding: 0 3px 3px 0;
}

.core-form-table .react-resizable-handle {
  height: 100%;
  width: 20px;
  right: -24px;
  cursor: col-resize;
  z-index: 9999;
}

.core-form-table .table-form-header {
  z-index: 2;
  padding: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--color-neutral-10);
}

.core-form-table .table-form-header .table-form-header-left {
  border-left: 3px solid rgb(var(--primary-6));
  padding-left: 10px;
  font-weight: 600;
}

.core-form-table .table-form-header .table-form-header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.core-form-row-menu .arco-dropdown-menu-item {
  padding: 0;
}

.core-form-row-menu .arco-dropdown-menu-item .arco-btn {
  height: 36px;
  padding: 0 20px;
}

.table-filter-columns .arco-menu-root {
  box-shadow: 0 2px 8px var(--color-bg-5) !important;
}

.table-column-drag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.table-filter-columns .arco-menu-item-selected {
  background: transparent !important;
}

.core-table-row-dragging {
  width: 100%;
  border: 1px solid var(--color-menu-light-bg);
}

.core-table-row-dragging .arco-table-cell {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: var(--color-bg-1);
  padding: 0px 4px;
}

.core-form-table-empty .arco-table-cell {
  border: 0 !important;
}

.core-form-table-empty .arco-table-expanded-row-fixed {
  margin: 0 !important;
}

.core-form-table .arco-table-pagination {
  background-color: var(--color-neutral-2);
  align-items: center;
  border: 1px solid var(--color-neutral-3);
  border-top: 0;
  padding: 0 10px;
}

.core-form-table .arco-table-border .arco-table-container::before {
  height: .5px;
}

.core-form-table .arco-table .arco-table-tr:last-child .arco-table-td {
  border-bottom: 0;
}

.core-form-table .arco-table-pagination .arco-pagination {
  margin-top: 0;
  padding: 10px 0;
}

.core-form-table .arco-pagination-total-text {
  font-size: 12px;
}

.core-form-table .arco-pagination .arco-pagination-jumper-input {
  background-color: var(--color-menu-light-bg);
}

.core-form-table .arco-pagination  .arco-select .arco-select-view{
  background-color: var(--color-menu-light-bg);
}

.core-form-table .arco-pagination-jumper>span {
  font-size: 12px !important;
}